@import "./scss/bootstrap";
body{
    background-color:white;
    // color: rgb(14, 13, 13);
    text-align: center;
}
// :root{
//     display: flex;
//     flex-direction: column;
//     height: 100vh; /* Full viewport height */
//   }
main{
    min-height: calc(100vh - 120px);
}
footer{
    background-color: black;
    color: white;

}
header{
    background-color: black;
    color: white;
}